/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body {
    margin: 0;
    font-family: "IBM Plex Sans", sans-serif;
}

/* HEADER  */
header {
    height: 20%;
    width: 100%;
    z-index: 1000;
}

.header-container {
    display: flex;
    flex-direction: column;
}

/* UPPER BAR  */
.upper-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    background-color: #061538;
}

.logo {
    text-decoration: none;
    color: #eee;
    font-size: 2rem;
}

.search-bar {
    display: flex;
    flex: 0 0 40%;
    justify-content: center;
    align-items: center;
}
  
.input-search {
    padding: .8rem 2rem;
    border-radius: .4rem;
    border: none;
    width: 100%;
    font-family: inherit;
    color: #061538;
    font-size: 1rem;
    font-weight: 400;
    transition: all 300ms;
    margin-right: -4rem;
    outline: none; 
}

.input-search:focus {
    outline: 2px solid  #fd7e14;
}

.input-search:focus + .header-btn .fa-search {
    color: #fd7e14;
    transition: 170ms;
}

.input-search:focus + .header-btn .fa-search:hover {
    color: #df6c0e;
    transition: 170ms;
}


.header-user-btns {
    display: flex;
    gap: .4rem;
}

.header-btn {
    padding: .8rem;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
}

/* LOWER BAR */

.lower-bar {
    background-color: #fff;
    padding: .6rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tabs-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: .8rem 0;
    gap: 1.2rem;
    text-transform: uppercase;
}

.tab-link {
    text-decoration: none;
    padding: .8rem 2rem;
    color: #eee;
    font-size: 1rem;
    color: #061538;
    font-weight: 500;
    
}

.tab-link:hover,
.tab-link:active,
.tab-link-active {
    color: #fd7e14;
    border-bottom: #fd7e14 3px solid;
    transition: 170ms;
}

.fas, .far {
    font-size: 1.4rem;
    color: #eee;
    padding: 0 .6rem;
}

.fas:hover {
    color: #fd7e14;
    transition: 170ms;
}

.fa-search {
    color: #061538;
}


.content{
    padding: 1rem 2rem;
}

/* *******************************CONTINUE STYLING HERE************************************************* */
/*
    FOR COLORS: 
    ORANGE: #fd7e14
    ORANGE ON HOVER / DARK ORANGE: #df6c0e
    DARK BLUE: #061538
    WHITE: #fff
    VERY LIGHT GREY: #eee  (you may use this as white for less contrast)

    FOR FONT: 
    FONT-WEIGHTS: 100; 200; 300; 400; 500; 600; 700;
    FONT-STYLE: ITALIC; NORMAL
    FONT-FAMILY: "IBM Plex Sans", sans-serif; OR JUST "inherit"

    !!!
    1rem = 16px

    FONT SIZES: 1rem, 1.4rem, 2rem...etc
    SPACING SYSTEM: 0.2rem; 0.4rem; 0.6rem; 0.8rem; 1rem; 1.2rem; 1.4rem ...etc
    Using even numbers would be the best, but feel free to adapt them according to your design

    !!!
    Be careful with the paddings and the margins you use
    No text or content should be outside of the width from the logo to the end of the shopping cart button!
    
*/


