/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body {
    margin: 0;
    font-family: "IBM Plex Sans", sans-serif;
}

/*      SIDEBAR     */
body {
    display: flex;
    flex-direction: row;    
}

.logo {
    text-decoration: none;
    color: #061538;
    font-size: 2rem;
    font-weight: 500;
}

.sidebar {
    background: rgb(255 255 255);
    border-right: 1px solid #71767f1e;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 14%;
}

/*     TABS STYLING    */
.tabs-list-sidebar {
    list-style: none;
    padding: 1rem 0;
}

.tab-sidebar {
    padding: 1rem 0;
    position: relative;
}

.tab-sidebar:hover * { 
    color: #081f54; 
}

.tab-sidebar:hover .tab-link-sidebar::before, 
.tab-sidebar:focus .tab-link-sidebar::before,
.tab-sidebar:active .tab-link-sidebar::before {
    content: '';
    position: absolute;
    top: 0;
    left: -2rem;
    width: 0.2rem; 
    height: 100%; 
    background-color: #081f54; 
}

.tab-link-sidebar {
    display: flex;
    align-items: center; 
    text-decoration: none;
    color: #71767f;
    padding-left: .2rem; 

}

.tab-txt-sidebar {
    padding-left: 1.2rem;
    line-height: 1.4; 
    font-size: 1.1rem;
    font-weight: 500;
}

.fas {
    font-size: 1.4rem;
    color: #71767f;
    width: 1.4rem; 
    text-align: center; 
}

/*  LOGOUT BUTTON   */
.logout-sidebar {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center; 
    justify-content: center;
    gap: .6rem;
    background: #061538;
    border: none;
    margin-top: auto; 
}

.logout-text-sidebar {
    font-size: 1.1rem;
    font-weight: 500;
    color: #eee;
}

.logout-icon {
    color: #eee;
}

.logout-sidebar:hover {
    background: #081f54;
    cursor: pointer;
}

/*  NAVBAR     */
.admin-navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 86%;
    background: rgb(255 255 255);
    border-bottom: 1px solid #71767f1e;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 1rem 2rem;
    gap: 1.4rem;
}

.admin-name {
    display: flex;
    flex-direction: col;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 1.2rem;
    background: #061538;
    color: #eee;
    border: none;
    font-size: 1.2rem;
    gap: 1rem;
}

.admin-name:hover {
    cursor: pointer;
}

.user-pfp {
    height: 1.4rem;
    width: 1.4rem;
    background: #eee;
}

.fa-bell {
    font-size: 1.2rem;
    padding: 0 .6rem;
    color: #061538;
}

.notif-btn {
    border: none;
    background: none;
}

.notif-btn:hover {
    cursor: pointer;
}

/* CONTENT*/
.content {
    flex: auto;
    padding-top: 3rem;
}

.admin-dashboard {
    background: #f9fafc;
    overflow-y: auto;
    padding: 2rem; 
    padding-left: 18%;
}

/* *******************************CONTINUE STYLING HERE************************************************* */
/*
    FOR COLORS: 
    ORANGE: #fd7e14
    ORANGE ON HOVER / DARK ORANGE: #df6c0e
    DARK BLUE: #061538
    DARK BLUE ON HOVER: #081f54;
    WHITE: #fff
    VERY LIGHT GREY: #eee  (you may use this as white for less contrast)
    VERY LIGHT GREY-BLUE: #f9fafc;
    BORDER COLOR: #71767f1e
    GREY IN SIDEBAR: #71767f

    FOR FONT: 
    FONT-WEIGHTS: 100; 200; 300; 400; 500; 600; 700;
    FONT-STYLE: ITALIC; NORMAL
    FONT-FAMILY: "IBM Plex Sans", sans-serif; OR JUST "inherit"

    !!!
    1rem = 16px

    FONT SIZES: 1rem, 1.4rem, 2rem...etc
    SPACING SYSTEM: 0.2rem; 0.4rem; 0.6rem; 0.8rem; 1rem; 1.2rem; 1.4rem ...etc
    Using even numbers would be the best, but feel free to adapt them according to your design

    !!!
    Be careful with the paddings and the margins you use
    No text or content should be outside of the width from the logo to the end of the shopping cart button!
    
*/